
.btn {
    border: none;
    outline: 0;
    text-align: center;
    cursor: pointer;
    transition: linear 0.5s;
    border-radius: 0.3rem;
    text-transform: uppercase;
  }
  
  .btn:hover {
    opacity: 0.7;
    
  }

  .btn-block{
    display: block;
    width: 100%;
  }

  .btn-card{
    margin-top: 1rem;
    padding: 1rem 5.6rem;   
  }

  .btn-circle{
    border-radius: 50%;
    padding:1rem;
  }

  .btn-buy{
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1rem;
    padding: 1rem 3.0rem;   
  }
.btn-primary{
    color: white;
    background-color: #019cdf;
}

.btn-secondary{
  color: white;
  background-color: #ff9800;
}


@media (max-width:787px){
  .btn-card{
    width: 50%;
    padding: 1rem 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    
  }
  .btn-circle{
    padding: 0.8rem;
  }
}


@media (min-width:788px) and (max-width:1599px){
  .btn-card{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    
  }
  .btn-circle{
    padding: 0.8rem;
  }
}

@media (min-width:1600px){
  .btn-card{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    
  }
  .btn-circle{
    padding: 0.8rem;
  }
}
